/*Box and Full Layout CSS*/

@media screen and (min-width: 1200px) {
	.container {
       width: 1250px;
    }
    .layout-boxed {
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center center;
    }
    .layout-boxed.page-wrapper {
        max-width: 1250px;
        margin: 0px auto 0;
    }
	.site-header .navigation {
		max-width: 1250px;
        margin: 0px auto 0;
		left: 0;
		right: 0;
	}
}
